
{% extends 'core/base.html' %}
{% block titulo %}
Presentacion
{% endblock  %}
{% block content %}
<p>  - </p>
<p><H2><center> MISIÓN</center></h2></p>

<p><h5><center>"Ofrecer un servicio de alta calidad en cobranzas y contact center, con un equipo humano comprometido y capacitado, con sistemas innovadores para proveer soluciones a las necesidades de nuestros clientes."</center></H5></p>


<p><H2><center>VISIÓN</center></H2></p>

<p><H5><center>"Empresa líder en servicios de cobranza y contact center, de constante innovación en sus procesos, tecnología y equipo humano, que genera valor agregado a sus clientes en el mercado nacional e internacional, la empresa y su gente." </center></H5></p>
{% endblock  %}
{% load static %}
{% block imagen %}
{% static 'core/img/misionvision.jpg' %}
{% endblock  %}



